<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">

      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Atrás</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
 <ion-toolbar color="warning">
    <ion-title class="custom-title">NUESTROS SERVICIOS</ion-title>
  </ion-toolbar>
  <ion-card>
  <img alt="Morat" src="https://th.bing.com/th/id/OIP.YUqYrP2afEybAaIuYq84MAHaFj?rs=1&pid=ImgDetMain" />
  <ion-card-header>
    <ion-card-title>Guardería</ion-card-title>
    <ion-card-subtitle>Cuidamos a tu perrito y lo mimamos</ion-card-subtitle>
  </ion-card-header>

  
</ion-card>
<ion-card>
  <img alt="Morat" src="https://www.mascotas.com.py/files/blp_78_g.jpg" />
  <ion-card-header>
    <ion-card-title>Baño y peluquería</ion-card-title>
    <ion-card-subtitle>Trataremos a tu mascota como se lo merece</ion-card-subtitle>
  </ion-card-header>
  
</ion-card>
<ion-card>
  <img alt="Morat" src="https://az505806.vo.msecnd.net/cms/59c63bc8-f4bc-4517-a0bf-7ff0e20280c8/23c59995-e4ce-4ff2-8662-ef9b10d421d1.jpg" />
  <ion-card-header>
    <ion-card-title>Veterinaria</ion-card-title>
    <ion-card-subtitle>Atendemos a tu mascota 24/7</ion-card-subtitle>
  </ion-card-header>

  
</ion-card>
 <ion-button expand="block" color="danger" shape="round" routerLink="/formulario">Agendar cita</ion-button>
</ion-content>
